.education-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.education-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: var(--transition);
}
.education-card h3{
    text-align: justify;
}
.education-card:hover{
    background: var(--color-primary);
    color: var(--color-white);
}
.education-card:hover h3{
    color: var(--color-white);
} 
.education-card{
    font-size: 1.4rem;
}

@media(max-width:1024px){
    .education-container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
@media(max-width:600px){
    .education-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
